header{
    background-color: #A2360E;
    padding: 20px;
}

body{
    background-image: url("../images/purty_wood_@2X.jpg");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h1{
    width: 50%;
    font-family: 'Amatic SC', cursive;
}
ul{
    list-style-type: none;
    position:fixed;
    top:0;
    right:10px;
    }

li {
    float: right;
    padding: 10px;    
    border-right: solid 2px;
    
}

li:last-child{
    border-right: none 0px;
}

img{
    float: left;
    height:200px;
    width: 300px;
}
.current{
    background-color: saddlebrown;
}

.content{
    display: block;
    margin: 50px;
    padding: 50px;
    background-color: #A2360E;
    border-radius: 10px 10px; 
    border: solid saddlebrown
}

.button{
    border-radius: 4px;
}